<p id="notice"><%= notice %></p>

<p>
  <strong>Comments:</strong>
  <%= @call_log.comments %>
</p>

<p>
  <strong>Member:</strong>
  <%= @call_log.member %>
</p>

<p>
  <strong>Time of call:</strong>
  <%= @call_log.time_of_call %>
</p>

<p>
  <strong>User:</strong>
  <%= @call_log.user %>
</p>

<p>
  <strong>Result of call:</strong>
  <%= @call_log.result_of_call %>
</p>

<p>
  <strong>Pcp provider call:</strong>
  <%= @call_log.pcp_provider_call %>
</p>

<%= link_to 'Edit', edit_call_log_path(@call_log) %> |
<%= link_to 'Back', call_logs_path %>
