<!DOCTYPE html>
<html>
<head>
  <title>HealthCare</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to 'Health Care', root_path, class: 'navbar-brand' %>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class='container-fluid'>
  <%= yield %>
</div>
</body>
</html>
