<!DOCTYPE html>
<html>
<head>
  <title>HealthCare</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<ul id="dropdown1" class="dropdown-content">
  <li class="nav-item dropdown">
    <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
  </li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
    <%= link_to 'Health Care', root_path, class: 'brand-logo' %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
          <li>
            <a class="dropdown-button" href="#!" data-activates="dropdown1">
              <%= current_user.try(:email) %>
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
      <% else %>
          <li>
            <%= link_to 'Log In', new_user_session_path %>
          </li>
      <% end %>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col s12">
    <ul id="slide-out" class="side-nav">
      <li>
        <div class="userView">
          <a href="#!email"><span class="email"><%= current_user.email %></span></a>
        </div>
      </li>
      <li>
        <%= link_to '<i class="material-icons">people</i>Members'.html_safe, members_path %>
      <li>
        <%= link_to '<i class="material-icons">contact_phone</i>Call Logs'.html_safe, call_logs_path %>
      </li>
    </ul>
    <% if notice %>
        <div class="row">
          <div class="col s12">
            <div class="card-panel green lighten-4">
              <span class="green-text darken-4"><%= notice %></span>
            </div>
          </div>
        </div>
    <% elsif alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>
