<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Middle initial:</strong>
  <%= @member.middle_initial %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @member.id_number %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @member.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Home number:</strong>
  <%= @member.home_number %>
</p>

<p>
  <strong>Cell number:</strong>
  <%= @member.cell_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @member.address %>
</p>

<p>
  <strong>Alternate address:</strong>
  <%= @member.alternate_address %>
</p>

<p>
  <strong>Date of enrollment:</strong>
  <%= @member.date_of_enrollment %>
</p>

<p>
  <strong>Date of disenrollment:</strong>
  <%= @member.date_of_disenrollment %>
</p>

<p>
  <strong>Line of business:</strong>
  <%= @member.line_of_business %>
</p>

<p>
  <strong>Primary language:</strong>
  <%= @member.primary_language %>
</p>

<p>
  <strong>Interpreter needed:</strong>
  <%= @member.interpreter_needed %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @member.ethnicity %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @member.marital_status %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
